.chat__header__interlocutor-avatar {
  grid-area: 1 / 1 / 3 / 2;
  background-color: var(--color--background-interactable);
  border-radius: var(--border-radius-avatar);
  aspect-ratio: 1 / 1;
  width: 34px;
}
