.sidebar__profile-button {
  padding: var(--container-aside);
  margin-top: 11px;
  align-self: end;
  display: block;
  width: fit-content;
  color: var(--color-text-secondary);
  transition: var(--animation);

  &:hover {
    cursor: pointer;
    color: var(--color-accent);
  }
}
