<div id="root" class="page layout">
  <aside class="sidebar text-M">
    <a href="#/profile" class="sidebar__profile-button">Профиль</a>
    <label class="sidebar__search">
      <input type="search" placeholder="Поиск" name="message" />
    </label>
    <ul class="sidebar__chat-list">
      <li class="sidebar__chat-list__item">
        <!--            <img src="" alt="" class="sidebar__chat-list__item__avatar">-->
        <div class="sidebar__chat-list__item__avatar"></div>
        <p class="sidebar__chat-list__item__name text-L">Андрей</p>
        <p class="sidebar__chat-list__item__text">Изображение</p>
        <p class="sidebar__chat-list__item__time text-S">10:49</p>
        <div class="sidebar__chat-list__item__notification">2</div>
      </li>
      <hr />
      <li class="sidebar__chat-list__item">
        <!--            <img src="" alt="" class="sidebar__chat-list__item__avatar">-->
        <div class="sidebar__chat-list__item__avatar"></div>
        <p class="sidebar__chat-list__item__name text-L">Киноклуб</p>
        <p class="sidebar__chat-list__item__text"><span>Вы: </span>стикер</p>
        <p class="sidebar__chat-list__item__time text-S">10:49</p>
      </li>
      <hr />
      <li class="sidebar__chat-list__item">
        <!--            <img src="" alt="" class="sidebar__chat-list__item__avatar">-->
        <div class="sidebar__chat-list__item__avatar"></div>
        <p class="sidebar__chat-list__item__name text-L">Илья</p>
        <p class="sidebar__chat-list__item__text">Друзья, у меня для вас
          особенный выпуск новостей!</p>
        <p class="sidebar__chat-list__item__time text-S">10:49</p>
      </li>
      <hr />
      <li class="sidebar__chat-list__item">
        <!--            <img src="" alt="" class="sidebar__chat-list__item__avatar">-->
        <div class="sidebar__chat-list__item__avatar"></div>
        <p class="sidebar__chat-list__item__name text-L">тет-а-теты</p>
        <p class="sidebar__chat-list__item__text">И Human Interface Guidelines и
          Material Design рекомендуют И Human Interface Guidelines и Material
          Design рекомендуют</p>
        <p class="sidebar__chat-list__item__time text-S">10:49</p>
        <div class="sidebar__chat-list__item__notification">1</div>
      </li>
      <hr />
      <li class="sidebar__chat-list__item">
        <!--            <img src="" alt="" class="sidebar__chat-list__item__avatar">-->
        <div class="sidebar__chat-list__item__avatar"></div>
        <p class="sidebar__chat-list__item__name text-L">1, 2, 3</p>
        <p class="sidebar__chat-list__item__text">Миллионы россиян ежедневно
          проводят десятки часов свое. Миллионы россиян ежедневно проводят
          десятки часов свое.</p>
        <p class="sidebar__chat-list__item__time text-S">Пт</p>
      </li>
      <hr />
      <li class="sidebar__chat-list__item sidebar__chat-list__item-chosen">
        <!--            <img src="" alt="" class="sidebar__chat-list__item__avatar">-->
        <div class="sidebar__chat-list__item__avatar"></div>
        <p class="sidebar__chat-list__item__name text-L">Вадим</p>
        <p class="sidebar__chat-list__item__text"><span>Вы: </span>Круто!</p>
        <p class="sidebar__chat-list__item__time text-S">Ср</p>
      </li>
      <hr />
      <li class="sidebar__chat-list__item">
        <!--            <img src="" alt="" class="sidebar__chat-list__item__avatar">-->
        <div class="sidebar__chat-list__item__avatar"></div>
        <p class="sidebar__chat-list__item__name text-L">Андрей</p>
        <p class="sidebar__chat-list__item__text"><span>Вы: </span>Друзья, у
          меня для вас особенный выпуск новостей! Друзья, у меня для вас
          особенный выпуск новостей!</p>
        <p class="sidebar__chat-list__item__time text-S">1 Мая 2020</p>
      </li>
      <hr />
      <li class="sidebar__chat-list__item">
        <!--            <img src="" alt="" class="sidebar__chat-list__item__avatar">-->
        <div class="sidebar__chat-list__item__avatar"></div>
        <p class="sidebar__chat-list__item__name text-L">Андрей</p>
        <p class="sidebar__chat-list__item__text"><span>Вы: </span>Друзья, у
          меня для вас особенный выпуск новостей! Друзья, у меня для вас
          особенный выпуск новостей!</p>
        <p class="sidebar__chat-list__item__time text-S">10:49</p>
      </li>
      <hr />
      <li class="sidebar__chat-list__item">
        <!--            <img src="" alt="" class="sidebar__chat-list__item__avatar">-->
        <div class="sidebar__chat-list__item__avatar"></div>
        <p class="sidebar__chat-list__item__name text-L">Андрей</p>
        <p class="sidebar__chat-list__item__text"><span>Вы: </span>Друзья, у
          меня для вас особенный выпуск новостей! Друзья, у меня для вас
          особенный выпуск новостей!</p>
        <p class="sidebar__chat-list__item__time text-S">10:49</p>
        <div class="sidebar__chat-list__item__notification">15</div>
      </li>
      <hr />
    </ul>
  </aside>

  <div class="chat">
    <div class="chat__header">
      <div class="chat__header__interlocutor">
        <div class="chat__header__interlocutor-avatar"></div>
        <p class="chat__header__interlocutor-name text-L">Вадим</p>
      </div>
      <button class="chat__header__options">
        <svg
          width="3"
          height="15"
          viewBox="0 0 3 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="1.5" cy="1.5" r="1.5" fill="#1E1E1E" />
          <circle cx="1.5" cy="7.5" r="1.5" fill="#1E1E1E" />
          <circle cx="1.5" cy="13.5" r="1.5" fill="#1E1E1E" />
        </svg>

      </button>
    </div>
    <div class="chat__body" id="chatBody">
      <section class="chat__body__block text-M">
        <p class="chat__body__block__date">19 июня</p>
        <div class="chat__body__block__text chat__body__block__text-sent">
          <p>Привет! Смотри, тут всплыл интересный кусок лунной космической
            истории&nbsp;&mdash; НАСА в&nbsp;какой-то момент попросила
            Хассельблад адаптировать модель SWC для полетов на&nbsp;Луну. Сейчас
            мы&nbsp;все знаем что астронавты летали с&nbsp;моделью
            500&nbsp;EL&nbsp;&mdash; и&nbsp;к&nbsp;слову говоря, все тушки этих
            камер все еще находятся на&nbsp;поверхности Луны, так как астронавты
            с&nbsp;собой забрали только кассеты с&nbsp;пленкой.</p>
          <p>Хассельблад в&nbsp;итоге адаптировал SWC для космоса,
            но&nbsp;что-то пошло не&nbsp;так и&nbsp;на&nbsp;ракету они так
            никогда и&nbsp;не&nbsp;попали. Всего их&nbsp;было произведено
            25&nbsp;штук, одну из&nbsp;них недавно продали на&nbsp;аукционе
            за&nbsp;45000&nbsp;евро.</p>
          <p class="chat__body__block__text_time-space text-S">9:45</p>
        </div>
        <div class="chat__body__block__text chat__body__block__text-received">
          <p>Привет! Смотри, тут всплыл интересный кусок лунной космической
            истории&nbsp;&mdash; НАСА в&nbsp;какой-то момент попросила
            Хассельблад адаптировать модель SWC для полетов на&nbsp;Луну. Сейчас
            мы&nbsp;все знаем что астронавты летали с&nbsp;моделью
            500&nbsp;EL&nbsp;&mdash; и&nbsp;к&nbsp;слову говоря, все тушки этих
            камер все еще находятся на&nbsp;поверхности Луны, так как астронавты
            с&nbsp;собой забрали только кассеты с&nbsp;пленкой.</p>
          <p>Хассельблад в&nbsp;итоге адаптировал SWC для космоса,
            но&nbsp;что-то пошло не&nbsp;так и&nbsp;на&nbsp;ракету они так
            никогда и&nbsp;не&nbsp;попали. Всего их&nbsp;было произведено
            25&nbsp;штук, одну из&nbsp;них недавно продали на&nbsp;аукционе
            за&nbsp;45000&nbsp;евро.</p>
          <p class="chat__body__block__text_time-space text-S">9:45</p>
        </div>
        <div class="chat__body__block__text chat__body__block__text-received">
          <p>Привет! Смотри, тут всплыл интересный кусок лунной космической
            истории&nbsp;&mdash; НАСА в&nbsp;какой-то момент попросила
            Хассельблад адаптировать модель SWC для полетов на&nbsp;Луну. Сейчас
            мы&nbsp;все знаем что астронавты летали с&nbsp;моделью
            500&nbsp;EL&nbsp;&mdash; и&nbsp;к&nbsp;слову говоря, все тушки этих
            камер все еще находятся на&nbsp;поверхности Луны, так как астронавты
            с&nbsp;собой забрали только кассеты с&nbsp;пленкой.</p>
          <p>Хассельблад в&nbsp;итоге адаптировал SWC для космоса,
            но&nbsp;что-то пошло не&nbsp;так и&nbsp;на&nbsp;ракету они так
            никогда и&nbsp;не&nbsp;попали. Всего их&nbsp;было произведено
            25&nbsp;штук, одну из&nbsp;них недавно продали на&nbsp;аукционе
            за&nbsp;45000&nbsp;евро.</p>
          <p class="chat__body__block__text_time-space text-S">9:45</p>
        </div>
        <div class="chat__body__block__text chat__body__block__text-sent">
          <p>Привет! Смотри, тут всплыл интересный кусок лунной космической
            истории&nbsp;&mdash; НАСА в&nbsp;какой-то момент попросила
            Хассельблад адаптировать модель SWC для полетов на&nbsp;Луну. Сейчас
            мы&nbsp;все знаем что астронавты летали с&nbsp;моделью
            500&nbsp;EL&nbsp;&mdash; и&nbsp;к&nbsp;слову говоря, все тушки этих
            камер все еще находятся на&nbsp;поверхности Луны, так как астронавты
            с&nbsp;собой забрали только кассеты с&nbsp;пленкой.</p>
          <p>Хассельблад в&nbsp;итоге адаптировал SWC для космоса,
            но&nbsp;что-то пошло не&nbsp;так и&nbsp;на&nbsp;ракету они так
            никогда и&nbsp;не&nbsp;попали. Всего их&nbsp;было произведено
            25&nbsp;штук, одну из&nbsp;них недавно продали на&nbsp;аукционе
            за&nbsp;45000&nbsp;евро.</p>
          <p class="chat__body__block__text_time-space text-S">9:45</p>
        </div>
        <div class="chat__body__block__text chat__body__block__text-sent">
          <p>Привет! Смотри, тут всплыл интересный кусок лунной космической
            истории&nbsp;&mdash; НАСА в&nbsp;какой-то момент попросила
            Хассельблад адаптировать модель SWC для полетов на&nbsp;Луну. Сейчас
            мы&nbsp;все знаем что астронавты летали с&nbsp;моделью
            500&nbsp;EL&nbsp;&mdash; и&nbsp;к&nbsp;слову говоря, все тушки этих
            камер все еще находятся на&nbsp;поверхности Луны, так как астронавты
            с&nbsp;собой забрали только кассеты с&nbsp;пленкой.</p>
          <p>Хассельблад в&nbsp;итоге адаптировал SWC для космоса,
            но&nbsp;что-то пошло не&nbsp;так и&nbsp;на&nbsp;ракету они так
            никогда и&nbsp;не&nbsp;попали. Всего их&nbsp;было произведено
            25&nbsp;штук, одну из&nbsp;них недавно продали на&nbsp;аукционе
            за&nbsp;45000&nbsp;евро.</p>
          <p class="chat__body__block__text_time-space text-S">9:45</p>
        </div>
        <div class="chat__body__block__text chat__body__block__text-sent">
          <p>Привет! Смотри, тут всплыл интересный кусок лунной космической
            истории&nbsp;&mdash; НАСА в&nbsp;какой-то момент попросила
            Хассельблад адаптировать модель SWC для полетов на&nbsp;Луну. Сейчас
            мы&nbsp;все знаем что астронавты летали с&nbsp;моделью
            500&nbsp;EL&nbsp;&mdash; и&nbsp;к&nbsp;слову говоря, все тушки этих
            камер все еще находятся на&nbsp;поверхности Луны, так как астронавты
            с&nbsp;собой забрали только кассеты с&nbsp;пленкой.</p>
          <p>Хассельблад в&nbsp;итоге адаптировал SWC для космоса,
            но&nbsp;что-то пошло не&nbsp;так и&nbsp;на&nbsp;ракету они так
            никогда и&nbsp;не&nbsp;попали. Всего их&nbsp;было произведено
            25&nbsp;штук, одну из&nbsp;них недавно продали на&nbsp;аукционе
            за&nbsp;45000&nbsp;евро.</p>
          <p class="chat__body__block__text_time-space text-S">9:45</p>
        </div>
        <div class="chat__body__block__text chat__body__block__text-received">
          <p>Привет! Смотри, тут всплыл интересный кусок лунной космической
            истории&nbsp;&mdash; НАСА в&nbsp;какой-то момент попросила
            Хассельблад адаптировать модель SWC для полетов на&nbsp;Луну. Сейчас
            мы&nbsp;все знаем что астронавты летали с&nbsp;моделью
            500&nbsp;EL&nbsp;&mdash; и&nbsp;к&nbsp;слову говоря, все тушки этих
            камер все еще находятся на&nbsp;поверхности Луны, так как астронавты
            с&nbsp;собой забрали только кассеты с&nbsp;пленкой.</p>
          <p>Хассельблад в&nbsp;итоге адаптировал SWC для космоса,
            но&nbsp;что-то пошло не&nbsp;так и&nbsp;на&nbsp;ракету они так
            никогда и&nbsp;не&nbsp;попали. Всего их&nbsp;было произведено
            25&nbsp;штук, одну из&nbsp;них недавно продали на&nbsp;аукционе
            за&nbsp;45000&nbsp;евро.</p>
          <p class="chat__body__block__text_time-space text-S">9:45</p>
        </div>
        <div class="chat__body__block__text chat__body__block__text-sent">
          <p>Привет! Смотри, тут всплыл интересный кусок лунной космической
            истории&nbsp;&mdash; НАСА в&nbsp;какой-то момент попросила
            Хассельблад адаптировать модель SWC для полетов на&nbsp;Луну. Сейчас
            мы&nbsp;все знаем что астронавты летали с&nbsp;моделью
            500&nbsp;EL&nbsp;&mdash; и&nbsp;к&nbsp;слову говоря, все тушки этих
            камер все еще находятся на&nbsp;поверхности Луны, так как астронавты
            с&nbsp;собой забрали только кассеты с&nbsp;пленкой.</p>
          <p>Хассельблад в&nbsp;итоге адаптировал SWC для космоса,
            но&nbsp;что-то пошло не&nbsp;так и&nbsp;на&nbsp;ракету они так
            никогда и&nbsp;не&nbsp;попали. Всего их&nbsp;было произведено
            25&nbsp;штук, одну из&nbsp;них недавно продали на&nbsp;аукционе
            за&nbsp;45000&nbsp;евро.</p>
          <p class="chat__body__block__text_time-space text-S">9:45</p>
        </div>
      </section>
      <section class="chat__body__block text-M">
        <p class="chat__body__block__date">Вчера</p>
        <div class="chat__body__block__text chat__body__block__text-sent"><p
          >Good morning!</p><p
            class="chat__body__block__text_time-space text-S"
          >12:00</p></div>
      </section>
    </div>
    <div class="chat__bar">
      <label class="chat__bar__input text-M">
        <input type="text" placeholder="Сообщение" />
      </label>
      <button class="chat__bar__send-button">
        <svg
          width="28"
          height="28"
          viewBox="0 0 28 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="14" cy="14" r="14" fill="#3369F3" />
          <rect x="8" y="13.2" width="11" height="1.6" fill="white" />
          <path d="M15 9L19 14L15 19" stroke="white" stroke-width="1.6" />
        </svg>

      </button>
    </div>
  </div>
</div>