.text-S {
  font-size: 9px;
  line-height: 1.5;
  font-weight: 500;
}

.text-M {
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
}

.text-L {
  font-size: 13px;
  line-height: 1;
  font-weight: 600;
}

.text-XL {
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
}
