:root {
  //colors
  --color--text-main: #1e1e1e;
  --color--text-secondary: #999999;
  --color--accent: #f333a9;
  --color--background-basic: #fbfbfb;
  --color--background-interactable: #efefef;
  --color--background-accent: #fde4f0;
  --color--white: #e4edfd;
  --color--border: #eaeaea;

  //border
  --border: 1px solid var(--color--border);
  --border-focus: 2px solid var(--color--accent);
  --border-radius: 5px;
  --border-radius-smooth: 999999px;
  --border-radius-avatar: 50%;
  --border-radius-text: 12px;

  //container
  --container-aside: 10px;

  //animation
  --animation: all 5ms ease-out;
}
