.sidebar__chat-list {
  display: grid;
  grid-auto-rows: 1fr;
  overflow-y: auto;
  scrollbar-width: thin;
  height: calc(100vh - 105px);

  hr {
    display: block;
    margin: 2px 0;
    height: 1px;
    width: calc(100% - 2 * var(--container-aside));
    background-color: var(--color--border);
    justify-self: center;
  }
}