.auth {
  width: 340px;
  min-height: 450px;

  padding: 50px 30px 30px;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: 40px;

  border-radius: var(--border-radius-text);

  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
}

.auth__title {
  text-align: center;
}

.auth__body {
  display: flex;
  flex-direction: column;
  gap: 26px;

  &__input {
    padding: 7px 0;
    width: 100%;
    border-bottom: 1px solid var(--color--accent);

    &::placeholder {
      color: var(--color--text-secondary);
      font-weight: 500;
    }
  }
}

.auth__footer {
  display: flex;
  flex-direction: column;
  gap: 14px;

  &__submit {
    width: 100%;
    padding: 12px;

    border-radius: var(--border-radius);
    color: var(--color--white);
    background-color: var(--color--accent);

    cursor: pointer;
  }

  &__link {
    text-align: center;
    color: var(--color--accent);
  }
}
